/*
========================================================================================
Nextflow Config for IlluminaTruSightOne on local machine
========================================================================================
*/

/*
========================================================================================
Execution Environment
========================================================================================
*/

executor{
	name = 'local'
	cpus = 6

}

params.scratch = false

// initialisation
params.sequencing_run = '191010_D00501_0366_BH5JWHBCX3'
params.bams = '/media/joseph/Storage/test_data/191010_D00501_0366_BH5JWHBCX3/IlluminaTruSightOne/*/*{.bam,.bam.bai}'
params.vcf =  "/media/joseph/Storage/test_data/191010_D00501_0366_BH5JWHBCX3/IlluminaTruSightOne/${params.sequencing_run}{.vcf.gz,.vcf.gz.tbi}"
params.variables = '/media/joseph/Storage/test_data/191010_D00501_0366_BH5JWHBCX3/IlluminaTruSightOne/*/*.variables'
params.publish_dir = 'results/'

/*
========================================================================================
Optional Execution
========================================================================================
*/

params.create_old_database_vcf = true

/*
========================================================================================
Compute Resource Config
========================================================================================
*/

// cpus / threads
params.small_task_cpus = 1
params.medium_task_cpus = 1
params.big_task_cpus = 1
params.gatk_cpus = 1
params.vep_cpus = params.big_task_cpus

// Temp Directories
params.tmp_dir = './'

// Java options
params.medium_java_options = "-XX:GCTimeLimit=50 -XX:GCHeapFreeLimit=10 -Xmx8g"

/*
========================================================================================
Reference Files
========================================================================================
*/

params.capture_bed = 'config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_h38.bed'
params.coverage_per_base_bed = 'config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_h38_coverage_per_base.bed'
params.coverage_report_bed = 'config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_h38_coverage_report.bed'
params.vepversion = '104'
params.reference_genome =  '/data/resources/human/gatk/v0/hg38/Homo_sapiens_assembly38.fasta'
params.reference_genome_index =  '/data/resources/human/gatk/v0/hg38/Homo_sapiens_assembly38.fasta.fai'
params.sequence_dict = '/data/resources/human/gatk/v0/hg38/Homo_sapiens_assembly38.dict'
params.clinvar = '/home/v.so257591/Build_37_to_38/clinvar.vcf.gz'
params.vep_cache = '/home/v.so257591/Build_37_to_38/homo_sapiens_refseq/104_GRCh38/'
params.gnotate_gnomad = '/home/v.so257591/Build_37_to_38/gnomad/gnomad.hg38.genomes.v3.fix.zip'
params.gnotate_spliceai = '/home/v.so257591/Build_37_to_38/SpliceAI_Project/spliceai_scores_gnotate.hg38.zip'
params.high_confidence_snps = '/data/resources/human/gatk/v0/hg38/1000G_phase1.snps.high_confidence.hg38.vcf'


/*
========================================================================================
Variant Filtering
========================================================================================
*/

// variant filtering
params.snp_qual = 10.41
params.indel_qual = 7.83
params.min_dp_variant_reporting  = 8

params.gene_panel = 'none'
params.gnomad_ad  = 0.01
params.gnomad_r = 0.01
params.min_gq_variant_reporting = 5
params.max_parental_alt_ref_ratio =  0.08
params.splice_ai_cutoff = 0.2

/*
========================================================================================
Coverage and QC
========================================================================================
*/

//contamination
params.min_mapq_contamination = 20
params.max_depth_contamination = 1000

// sex 
params.female_threshold = 150
params.male_threshold = 50

// min base quality for coverage calculations
params.min_base_quality_coverage = 10
params.min_mapping_quality_coverage = 20
params.depth_thresholds = [20, 30]

// sensitivity
params.calculate_sensitivity = true 
params.giab_sample = '18M01315'
params.giab_baseline = '/home/v.so257591/Build_37_to_38/HG001_GRCh38_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_PGandRTGphasetransfer.vcf.gz'
params.giab_high_confidence_bed = '/home/v.so257591/Build_37_to_38/HG001_GRCh38_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_nosomaticdel_noCENorHET7.bed'
params.giab_reference_genome_sdf = '/data/resources/human/gatk/v0/hg38/Homo_sapiens_assembly38-SDF'
