//params.bams = '/media/joseph/Storage/test_data/IlluminaTruSightOne/*/*{.bam,.bam.bai}'
//params.vcf =  "/media/joseph/Storage/test_data/IlluminaTruSightOne/${params.sequencing_run}{.vcf.gz,.vcf.gz.tbi}"
//params.variables = '/media/joseph/Storage/test_data/IlluminaTruSightOne/*/*.variables'
//params.alignment_metrics =  '/media/joseph/Storage/test_data/IlluminaTruSightOne/*/*.mapping_metrics.csv'
params.reference_genome =  '/state/partition1/db/human/gatk/2.8/b37/human_g1k_v37.fasta'
params.sequence_dict = '/state/partition1/db/human/gatk/2.8/b37/human_g1k_v37.dict'
params.capture_bed = 'config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_b37.bed'
params.coverage_bed = 'config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_b37_coverage.bed'
params.coverage_groups = 'config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_b37_coverage_groups.txt'
params.gnomad_exomes = '/share/data/db/human/gnomad/gnomad.exomes.r2.0.1.sites.vcf.gz'
params.gnomad_genomes = '/share/data/db/human/gnomad/gnomad.genomes.r2.0.1.sites.noVEP.vcf.gz'
params.vep_threads = 1
params.vep_cache = '/share/data/db/human/vep_cache/refseq37'
params.min_coverage = 20
params.pipeline_version = '1'
params.high_confidence_snps = '/state/partition1/db/human/gatk/2.8/b37/1000G_phase1.snps.high_confidence.b37.vcf'
params.publish_dir = 'results/'

params.snps_min_qual = 10.0
params.snps_max_fs = 60.0
params.snps_min_mqranksum = -15.0
params.snps_min_readposranksum = -8.0

params.indels_min_qual = 10.0
params.indels_max_fs = 200.0
params.indels_max_sor = 10.0
params.indels_min_readposranksum = -20.0

params.min_genotype_depth = 8

process.executor = 'pbs'

