params.sequencing_run = '191010_D00501_0366_BH5JWHBCX3'
//params.bams = '/media/joseph/Storage/test_data/IlluminaTruSightOne/*/*{.bam,.bam.bai}'
params.vcf =  "/media/joseph/Storage/test_data/IlluminaTruSightOne/${params.sequencing_run}{.vcf.gz,.vcf.gz.tbi}"
params.variables = '/media/joseph/Storage/test_data/IlluminaTruSightOne/*/*.variables'
params.alignment_metrics =  '/media/joseph/Storage/test_data/IlluminaTruSightOne/*/*.mapping_metrics.csv'
params.reference_genome =  '/media/joseph/Storage/genomic_resources/bwa/human_g1k_v37.fasta'
params.sequence_dict = '/media/joseph/Storage/genomic_resources/bwa/human_g1k_v37.dict'
params.capture_bed = 'config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_b37.bed'
params.coverage_bed = 'config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_b37_coverage.bed'
params.coverage_groups = 'config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_b37_coverage_groups.txt'
params.gnomad_exomes = '/media/joseph/Storage/genomic_resources/gnomad/gnomad.exomes.r2.0.1.sites.vcf.gz'
params.gnomad_genomes = '/media/joseph/Storage/genomic_resources/gnomad/gnomad.genomes.r2.0.1.sites.noVEP.vcf.gz'
params.vep_threads = 1
params.vep_cache = '/media/joseph/Storage/genomic_resources/vep_caches/vep'
params.coverage_calculator_path = '/home/joseph/Documents/dragen/coverage/CoverageCalculatorPy/CoverageCalculatorPy.py'
params.min_coverage = 20
params.pipeline_version = '1'
params.high_confidence_snps = '/media/joseph/Storage/genomic_resources/1000g/1000G_phase1.snps.high_confidence.b37.vcf'
params.publish_dir = 'results/'

params.snps_min_qual = 10.0
params.snps_max_fs = 60.0
params.snps_min_mqranksum = -15.0
params.snps_min_readposranksum = -8.0

params.indels_min_qual = 10.0
params.indels_max_fs = 200.0
params.indels_max_sor = 10.0
params.indels_min_readposranksum = -20.0

params.min_genotype_depth = 8