/*
========================================================================================
Nextflow Config for Whole Exome Sequencing on local machine
========================================================================================
*/

/*
========================================================================================
Execution Environment
========================================================================================
*/

process.executor = 'slurm'
process.queue = 'medium'

params.scratch = '/localscratch/'

/*
========================================================================================
Optional Execution
========================================================================================
*/

params.create_old_database_vcf = true
params.annotate_svs = true
params.genome_build = 'GRCh38'

/*
========================================================================================
Compute Resource Config
========================================================================================
*/

// cpus / threads
params.small_task_cpus = 2
params.medium_task_cpus = 2
params.big_task_cpus = 20
params.gatk_cpus = 2
params.sv_cpus = 10
params.vep_cpus = params.big_task_cpus

// Temp Directories
params.tmp_dir = '/localscratch/'

// Java options
params.medium_java_options = "-XX:GCTimeLimit=50 -XX:GCHeapFreeLimit=10 -Xmx8g"

/*
========================================================================================
Reference Files
========================================================================================
*/

params.capture_bed = 'config/WholeExomeTender/WholeExomeTender_ROI_hg38.bed'
params.coverage_per_base_bed = 'config/WholeExomeTender/WholeExomeTender_ROI_hg38_coverage_per_base.bed'
params.coverage_report_bed = 'config/WholeExomeTender/WholeExomeTender_ROI_hg38_coverage_report.bed'
params.vepversion = '104'
params.reference_genome =  '/data/resources/human/gatk/v0/hg38/Homo_sapiens_assembly38.fasta'
params.reference_genome_index =  '/data/resources/human/gatk/v0/hg38/Homo_sapiens_assembly38.fasta.fai'
params.sequence_dict = '/data/resources/human/gatk/v0/hg38/Homo_sapiens_assembly38.dict'
params.clinvar =  '/data/resources/human/clinvar/clinvar_h38.vcf.gz'
params.vep_cache = '/data/resources/human/vep-cache/refseq38_v104'
params.gnotate_gnomad = '/data/resources/human/gnomad/gnomad.hg38.genomes.v3.fix.zip'
params.gnotate_spliceai = '/data/resources/human/spliceai/spliceai_scores_gnotate.hg38.zip'
params.high_confidence_snps = '/data/resources/human/gatk/v0/hg38/1000G_phase1.snps.high_confidence.hg38.vcf'
/*
========================================================================================
Variant Filtering
========================================================================================
*/

// variant filtering
params.snp_qual = 10.41
params.indel_qual = 7.83
params.min_dp_variant_reporting  = 8

params.gene_panel = 'none'
params.gnomad_ad  = 0.01
params.gnomad_r = 0.01
params.min_gq_variant_reporting = 5
params.max_parental_alt_ref_ratio =  0.08
params.splice_ai_cutoff = 0.2

/*
========================================================================================
Coverage and QC
========================================================================================
*/

//contamination
params.min_mapq_contamination = 20
params.max_depth_contamination = 1000

// sex 
params.female_threshold = 150
params.male_threshold = 50

// min base quality for coverage calculations
params.min_base_quality_coverage = 10
params.min_mapping_quality_coverage = 20
params.depth_thresholds = [20, 30]

// sensitivity
params.calculate_sensitivity = true 
params.giab_sample = 'nonocus'
params.giab_baseline = '/data/resources/human/giab/3.3.2/HG001_GRCh38_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_PGandRTGphasetransfer.vcf.gz'
params.giab_high_confidence_bed = '/data/resources/human/giab/3.3.2/HG001_GRCh38_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_nosomaticdel_noCENorHET7.bed'
params.giab_reference_genome_sdf = '/data/resources/human/gatk/v0/hg38/Homo_sapiens_assembly38-SDF'

/*
========================================================================================
SVs
========================================================================================
*/

params.sv_max_size = 250000000
params.sv_vep_buffer_size = 500





