/*
========================================================================================
Nextflow Config for IlluminaTruSightOne on local machine
========================================================================================
*/

/*
========================================================================================
Execution Environment
========================================================================================
*/

executor{
	name = 'local'
	cpus = 6

}

params.scratch = false

// initialisation
params.sequencing_run = '191010_D00501_0366_BH5JWHBCX3'
params.bams = '/media/joseph/Storage/test_data/191010_D00501_0366_BH5JWHBCX3/IlluminaTruSightOne/*/*{.bam,.bam.bai}'
params.vcf =  "/media/joseph/Storage/test_data/191010_D00501_0366_BH5JWHBCX3/IlluminaTruSightOne/${params.sequencing_run}{.vcf.gz,.vcf.gz.tbi}"
params.variables = '/media/joseph/Storage/test_data/191010_D00501_0366_BH5JWHBCX3/IlluminaTruSightOne/*/*.variables'
params.publish_dir = 'results/'

/*
========================================================================================
Optional Execution
========================================================================================
*/

params.create_old_database_vcf = true

params.genome_build = 'GRCh38'

/*
========================================================================================
Compute Resource Config
========================================================================================
*/

// cpus / threads
params.small_task_cpus = 1
params.medium_task_cpus = 1
params.big_task_cpus = 1
params.gatk_cpus = 1
params.vep_cpus = params.big_task_cpus

// Temp Directories
params.tmp_dir = './'

// Java options
params.medium_java_options = "-XX:GCTimeLimit=50 -XX:GCHeapFreeLimit=10 -Xmx8g"

/*
========================================================================================
Reference Files
========================================================================================
*/

params.capture_bed = 'config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_b37.bed'
params.coverage_per_base_bed = 'config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_b37_coverage_per_base.bed'
params.coverage_report_bed = 'config/IlluminaTruSightOne/IlluminaTruSightOne_ROI_b37_coverage_report.bed'
params.vepversion = '94'
params.reference_genome =  '/media/joseph/Storage/genomic_resources/bwa/human_g1k_v37.fasta'
params.reference_genome_index =  '/media/joseph/Storage/genomic_resources/bwa/human_g1k_v37.fasta.fai'
params.sequence_dict = '/media/joseph/Storage/genomic_resources/bwa/human_g1k_v37.dict'
params.clinvar = '/media/joseph/Storage/genomic_resources/clinvar/clinvar.vcf.gz'
params.vep_cache = '/media/joseph/Storage/genomic_resources/vep_caches/vep/'
params.gnotate_gnomad = '/media/joseph/Storage/genomic_resources/gnomad/gnomad.hg37.zip'
params.gnotate_spliceai = '/media/joseph/Storage/genomic_resources/spliceai/spliceai.hg19.snps.indels.filtered.zip'
params.high_confidence_snps = '/media/joseph/Storage/genomic_resources/1000g/1000G_phase1.snps.high_confidence.b37.vcf'


/*
========================================================================================
Variant Filtering
========================================================================================
*/

// variant filtering
params.snp_qual = 10.41
params.indel_qual = 7.83
params.min_dp_variant_reporting  = 8

params.gene_panel = 'none'
params.gnomad_ad  = 0.01
params.gnomad_r = 0.01
params.min_gq_variant_reporting = 5
params.max_parental_alt_ref_ratio =  0.08
params.splice_ai_cutoff = 0.2

/*
========================================================================================
Coverage and QC
========================================================================================
*/

//contamination
params.min_mapq_contamination = 20
params.max_depth_contamination = 1000

// sex 
params.female_threshold = 150
params.male_threshold = 50

// min base quality for coverage calculations
params.min_base_quality_coverage = 10
params.min_mapping_quality_coverage = 20
params.depth_thresholds = [20, 30]

// sensitivity
params.calculate_sensitivity = true 
params.giab_sample = '18M01315'
params.giab_baseline = '/media/joseph/Storage/genomic_resources/giab/HG001_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_PGandRTGphasetransfer.vcf.gz'
params.giab_high_confidence_bed = '/media/joseph/Storage/genomic_resources/giab/HG001_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_nosomaticdel.bed'
params.giab_reference_genome_sdf = '/media/joseph/Storage/genomic_resources/reference_genomes/human_g1k_v37-SDF'
